[submodule "modules/IPDL"]
	path = modules/IPDL
	url = git@github.com:SolidusAbi/IPDL.git
[submodule "modules/AutoEncoder"]
	path = modules/AutoEncoder
	url = git@github.com:SolidusAbi/AutoEncoder.git
