[submodule "modules/IPDL"]
	path = modules/IPDL
	url = git@github.com:SolidusAbi/IPDL.git
[submodule "modules/AutoEncoder"]
	path = modules/AutoEncoder
	url = git@github.com:SolidusAbi/AutoEncoder.git
[submodule "modules/HySpecLab"]
	path = modules/HySpecLab
	url = git@github.com:SolidusAbi/HySpecLab.git
[submodule "Chapter7/CLHU"]
	path = Chapter7/CLHU
	url = git@github.com:SolidusAbi/CLHU.git
[submodule "Chapter8/adelen"]
	path = Chapter8/adelen
	url = https://github.com/SolidusAbi/ADeLEn.git
